.overview {
    background-color: #1D263B;
}
.overview:after {
    content: "";
    display: table;
    clear: both;
  }

.overview * {
    color: white;
    background-color: transparent;
    margin: 0 -5px;
    line-height: 2.8;
}

.column {
    float: left;
    width: 50%;
    padding: 0 10px;
}

.overview-card {
    box-shadow: 0 4px 8px 0 rgba(253, 253, 253, 0.2);
    padding: 16px;
    text-align: center;
    position: relative;
    background-color: #051f5a;
    transition: width 1s, height 1s, background-color 1s, transform 1s;
}

.overview-card:hover {
    background-color: #FFCCCC;
    transform: scale(1.1);
}

.overview-card .btn {
    position: absolute;
    bottom: 10px;
    right: 20px;
}
#project-card {
    display: flex;
    flex-direction: column;
}

#project-card .pictures{
    flex: 50%;
    padding: 5px;
}

.projects {
    list-style-type: none;
}

.projects a {
    background-color: var(--pink-color);
}

.projects li {
    line-height: 3;
}

.aboutme h2 {
    text-align: left;
}
.aboutme p {
    text-align: center;
 }

.aboutme img {
    float: right;
}

.aboutme p:first-child {
    text-align: center;
    float: left;
}
@media (max-width: 767px) {
    .column {
      width: 100%;
      margin-bottom: 20px;
    }

    .overview-card .btn {
        display: none;
    }

    .aboutme img {
        float: none;
    }

    .aboutme p:last-child {
        text-align: center;
    }
}



